*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --prime-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --light-border: hsl(217, 16%, 45%);
  --scissors-grad: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-grad: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-grad: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --liz-grad: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cayn-grad: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
}

html {
  background: radial-gradient(
      circle at top,
      hsl(214, 47%, 23%),
      hsl(237, 49%, 15%)
    )
    no-repeat;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* body {
  
} */

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; /* 20px */
}

header {
  width: 100%;
  max-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.25rem;
  border: 3px solid var(--light-border);
  border-radius: 0.625rem;

  .image img {
    object-fit: cover;
    width: 100%;
  }

  .score-box {
    background-color: white;
    padding: 0.625rem 1.5rem;
    border-radius: 5px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h4 {
      color: var(--score-text);
      font-size: 1.25rem;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    p {
      font-size: clamp(3rem, 10vw / 2, 4.5rem);
      line-height: 1;
      font-weight: 700;
      color: var(--prime-text);
    }
  }
}

footer {
  @media (max-width: 520px) {
    flex-direction: column-reverse;
    gap: 0.625rem;
  }

  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toggler {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 3px solid var(--light-border);
    border-radius: 7px;
    color: white;
    letter-spacing: 1px;

    span {
      cursor: pointer;
    }

    .switch-box {
      width: 4rem;
      padding: 0.2rem;
      border: inherit;
      border-radius: 20px;

      .switcher {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: white;
        transition: 0.3s ease-out; /* Start Fast / End Slow */

        &.advanced {
          transform: translateX(35px);
        }
      }
    }
  }

  .btn {
    padding: 0.625rem 2.5rem;
    font-size: 1.25rem;
    font-family: inherit;
    color: white;
    text-transform: inherit;
    border: 3px solid var(--light-border);
    border-radius: 7px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 2px;
  }
}
