*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --prime-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --light-border: hsl(217, 16%, 45%);
  --scissors-grad: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --scissors-shadow: hsl(39deg 89% 49% / 65%);
  --paper-grad: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --paper-shadow: hsl(230deg 89% 62% / 65%);
  --rock-grad: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --rock-shadow: hsl(349deg 71% 52% / 65%);
  --liz-grad: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --liz-shadow: hsl(261deg 73% 60% / 65%);
  --cayn-grad: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  --cayn-shadow: hsl(189deg 59% 53% / 65%);
}

html {
  background: radial-gradient(
      circle at top,
      hsl(214, 47%, 23%),
      hsl(237, 49%, 15%)
    )
    no-repeat;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}

/* body {
  
} */

.game-container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; /* 20px */

  @media (max-width: 970px) {
    gap: 4rem;
  }
}

header {
  width: 100%;
  max-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.25rem;
  border: 3px solid var(--light-border);
  border-radius: 0.625rem;

  .image {
    img {
      width: 100%;
    }
  }

  .score-box {
    background-color: white;
    padding: 0.625rem 1.5rem;
    border-radius: 5px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h4 {
      color: var(--score-text);
      font-size: 1.25rem;
      letter-spacing: 1px;
    }

    p {
      font-size: clamp(3rem, 10vw / 2, 4.5rem);
      line-height: 1;
      font-weight: 700;
      color: var(--prime-text);
    }
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-top: 3rem;

  /* THE GAME BOX */
  .game {
    position: relative;
    text-align: center;

    .bg-img {
      width: 300px;
      /* max-height: 230px; */
      /* object-fit: contain; */
    }
  }

  /* The OUTER ELEMENT */
  .card-grad {
    background: linear-gradient(var(--scissors-grad));
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 7px 0 0 hsl(39deg 89% 49% / 68%);
    position: absolute;
    cursor: pointer;

    &.simple.paper {
      top: -60px;
      left: -30px;
    }

    &.simple.scissors {
      top: -60px;
      right: -30px;
    }

    &.simple.rock {
      bottom: -20px;
      left: 85px;
    }

    @media (max-width: 400px) {
      &.simple.paper {
        left: -15px;
      }

      &.simple.scissors {
        right: -15px;
      }

      &.simple.rock {
        bottom: 0;
        left: 85px;
      }
    }

    /* ADVANCED */
    &.advanced.scissors {
      top: -40px;
      left: 87px;
    }

    &.advanced.paper {
      right: -55px;
      top: 55px;
    }

    &.advanced.spock {
      left: -55px;
      top: 55px;
    }

    &.advanced.rock {
      bottom: -50px;
      right: 0px;
    }

    &.advanced.lizard {
      bottom: -50px;
      left: 0;
    }

    @media (max-width: 400px) {
      &.advanced.scissors {
        top: -50px;
      }

      &.advanced.paper {
        right: -25px;
      }

      &.advanced.spock {
        left: -25px;
      }
    }

    /* THE INNER ELEMENT */
    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: white;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0 5px rgba(0, 0, 0, 0.2) inset;

      img {
        object-fit: cover;
        width: 50%;
      }
    }
  }
}

footer {
  @media (max-width: 520px) {
    flex-direction: column-reverse;
    gap: 0.625rem;
  }

  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toggler {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 3px solid var(--light-border);
    border-radius: 7px;
    color: white;
    letter-spacing: 1px;

    span {
      cursor: pointer;
    }

    .switch-box {
      width: 4rem;
      padding: 0.2rem;
      border: inherit;
      border-radius: 20px;

      .switcher {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: white;
        transition: 0.3s ease-out; /* Start Fast / End Slow */

        &.advanced {
          transform: translateX(35px);
        }
      }
    }
  }

  .btn {
    padding: 0.625rem 2.5rem;
    font-size: 1.25rem;
    font-family: inherit;
    color: white;
    text-transform: inherit;
    border: 3px solid var(--light-border);
    border-radius: 7px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 2px;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &.white {
    background-color: white;
  }

  &.open {
    transform: scale(1);
  }

  .rules-box {
    @media (max-width: 430px) {
      gap: 7rem;
      font-weight: 700;
      font-size: 1.5rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    gap: 2rem;
    margin-inline: 10px;
    color: var(--prime-text);

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-self: normal;
    }

    .close {
      object-fit: cover;
      width: 100%;
      cursor: pointer;
    }

    .rules-image img {
      width: 100%;
      object-fit: cover;
    }
  }
}
